.contato__email {
    border: 1px solid var(--azul);
    border-radius: 24px;
    color: var(--azul);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    width: 100%;
}

.contato__email::placeholder {
    background: url('../../img/Email.svg') no-repeat 2px center;
    color: var(--azul);
    padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
    .contato__email {
        align-self: center;
        grid-area: email;
        justify-self: end;
        width: 89%;
    }
}

@media screen and (min-width: 1728px) {
    .contato__email {
        justify-self: start;
    }
}