.contato {
    background-color: var(--branco);
    border-bottom: 1px solid var(--cinza);
    padding: 1.5rem 1.5rem 1.875rem;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, max-content);
        grid-template-areas: 
            'titulo email'
            'texto  email';
        padding: 1.875rem 9.25rem 3.25rem;
    }
}

@media screen and (min-width: 1728px) {
    .contato {
        gap: 0 1.5rem;
        padding: 4rem 26.55vw;
    }
}