.contato__titulo {
    background: var(--azul-degrade);
    background-clip: text;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 0.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
    .contato__titulo {
        font-size: 1.5rem;
        grid-area: titulo;
        line-height: 36px;
        margin-bottom: 0.75rem;
    }
}