.topicos__titulo {
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 1.5rem;
        line-height: 36px;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .topicos__titulo {
        font-size: 2rem;
        line-height: 48px;
    }
}