.cabecalho__icone--favoritos {
    grid-area: favoritos;
}

.cabecalho__icone--compras {
    grid-area: compras;
}

.cabecalho__icone--usuario {
    grid-area: usuario;
}

@media screen and (min-width: 1024px) {
    .cabecalho__icone--favoritos {
        display: none;
    }
}