.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: grid;
    grid-template-columns: 80px 72px 1fr 56px 56px 56px;
    grid-template-areas: 
        "menu logo . favoritos compras usuario";
    justify-items: center;
    padding-right: 1.25rem;
    height: 80px;
}