.cabecalho {
    align-items: center;
    background-color: var(--branco);
    display: grid;
    gap: 1.875rem;
    grid-template-columns: max-content max-content 1fr max-content max-content max-content;
    grid-template-areas: 
        "menu logo . favoritos compras usuario";
    padding: 1.25rem 2rem;
}