.card__texto {
    color: var(--preto);
    font-size: 0.875rem;
    grid-area: texto;
    line-height: 21px;
    margin-right: 1.875rem;
}

@media screen and (min-width: 1024px) {
    .card__texto {
        margin-right: 5.5rem;
    }
}