.card__subtitulo {
    color: var(--laranja);
    font-weight: 700;
    grid-area: subtitulo;
    line-height: 24px;
}

@media screen and (min-width: 1728px) {
    .card__subtitulo {
        font-size: 2rem;
        line-height: 48px;
    }
}